* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
}

.about-container {
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
}

@font-face {
  font-family: GillSans;
  src: url(../css/fonts/GillSans.ttc);
}
@font-face {
  font-family: ProximaCondensed;
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: ProximaThin;
  src: url(../css/fonts/Proxima-Nova-Thin.otf);
}
.home .hero {
  max-width: 1280px;
  height: 500px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.home .hero .callout {
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .hero .callout h1 {
  font-size: 60px;
  font-family: ProximaCondensed;
}
.home .hero .callout p {
  width: 714px;
  text-align: center;
  font-size: 20px;
  font-family: GillSans;
}
.home .hero .callout .read-more {
  width: 121px;
  padding: 5px 15px;
  margin-top: 40px;
  background-color: #79addc;
  font-size: 15px;
  font-family: GillSans;
  color: white;
}
.home .promoTrips {
  width: 75%;
  margin: 0 auto;
  margin-top: -50px;
  min-height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home .promoTrips .israelTour {
  width: 236px;
  height: 304px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/tour-01.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.home .promoTrips .israelTour h1 {
  text-align: center;
  font-size: 60px;
  font-family: ProximaCondensed;
}
.home .promoTrips .israelTour p {
  text-align: center;
  font-size: 30px;
  font-family: ProximaCondensed;
}
.home .promoTrips .usaTour {
  width: 236px;
  height: 304px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/tour-02.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.home .promoTrips .usaTour h1 {
  text-align: center;
  font-size: 60px;
  font-family: ProximaCondensed;
}
.home .promoTrips .usaTour p {
  text-align: center;
  font-size: 30px;
  font-family: ProximaCondensed;
}
.home .promoTrips .austrailiaTour {
  width: 236px;
  height: 304px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../images/tour-03.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.home .promoTrips .austrailiaTour h1 {
  text-align: center;
  font-size: 60px;
  font-family: ProximaCondensed;
}
.home .promoTrips .austrailiaTour p {
  text-align: center;
  font-size: 30px;
  font-family: ProximaCondensed;
}
.home .promoTrips .learnMore {
  width: 121px;
  padding: 5px 15px;
  margin-top: 40px;
  background-color: #79addc;
  font-size: 15px;
  font-family: GillSans;
  color: white;
  border-radius: 27px;
}
.home .bookingForm {
  width: 75%;
  min-height: 400px;
  padding: 50px;
  margin: 0 auto;
}
.home .bookingForm .booking-wrapper h1 {
  font-size: 60px;
  font-family: ProximaCondensed;
}
.home .bookingForm .booking-wrapper form {
  width: 100%;
}
.home .bookingForm .booking-wrapper form .textInputs {
  width: 100%;
}
.home .bookingForm .booking-wrapper form .textInputs .firstFour {
  width: 100%;
  height: 100%;
}
.home .bookingForm .booking-wrapper form .textInputs .firstFour .topTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .firstFour .topTwo input {
  width: 415px;
  height: 58px;
  font-size: 18px;
  font-family: GillSans;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .firstFour .bottomTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .firstFour .bottomTwo input {
  width: 415px;
  height: 58px;
  font-size: 18px;
  font-family: GillSans;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .check {
  font-size: 18px;
  font-family: GillSans;
}
.home .bookingForm .booking-wrapper form .textInputs .check .checkIn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .check .checkIn label {
  width: 110px;
  height: 25px;
  margin-right: 25px;
}
.home .bookingForm .booking-wrapper form .textInputs .check .checkIn input {
  width: 700px;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .check .checkOut {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .check .checkOut label {
  width: 110px;
  margin-right: 25px;
}
.home .bookingForm .booking-wrapper form .textInputs .check .checkOut input {
  width: 700px;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers .adult {
  width: 30%;
  font-size: 18px;
  font-family: GillSans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers .adult input {
  width: 100px;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers .children {
  width: 30%;
  font-size: 18px;
  font-family: GillSans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers .children input {
  width: 100px;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers .rooms {
  width: 30%;
  font-size: 18px;
  font-family: GillSans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .bookingForm .booking-wrapper form .textInputs .numbers .rooms input {
  width: 100px;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .textInputs .comments {
  width: 100%;
  font-size: 18px;
  font-family: GillSans;
}
.home .bookingForm .booking-wrapper form .textInputs .comments input {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #79addc;
}
.home .bookingForm .booking-wrapper form .subBtn {
  width: 100%;
}
.home .bookingForm .booking-wrapper form .subBtn .booking-submit {
  height: 60px;
  width: 100%;
  color: white;
  background-color: #79addc;
  border-radius: 50px;
  border: none;
}

@media only screen and (max-width: 760px) {
  .promoTrips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bookingForm .booking-wrapper form .textInputs .firstFour .topTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bookingForm .booking-wrapper form .textInputs .firstFour .bottomTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bookingForm .booking-wrapper form .textInputs .check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bookingForm .booking-wrapper form .textInputs .numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bookingForm .booking-wrapper form .textInputs .comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.homeNav {
  position: fixed;
  height: 90px;
  max-width: 980px;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px white;
}
.homeNav .logo {
  width: 92px;
  height: 43px;
}
.homeNav .links {
  width: 300px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 15px;
  font-family: GillSans;
  color: white;
}
.homeNav .links a {
  font-family: GillSans;
  font-size: 15px;
  text-decoration: none;
  font-size: 15px;
  font-family: GillSans;
  color: white;
}

footer {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #79addc;
}
footer .copyright {
  color: white;
}
footer .social_media {
  color: white;
}
footer .social_media img {
  width: 22px;
}